[submodule "clone-spotify"]
	path = clone-spotify
	url = https://github.com/joaogbrufino/clone-spotify.git
[submodule "nf-ai-dados"]
	path = nf-ai-dados
	url = https://github.com/joaogbrufino/nf-ai-dados
